[Unit]
Description=Alarmmonitor DHCP server (dnsmasq)
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/dnsmasq --conf-file=/etc/dnsmasq.d/alarmmonitor.conf --keep-in-foreground
Restart=on-failure

[Install]
WantedBy=multi-user.target
