[Unit]
Description=Alarmmonitor Access Point (hostapd)
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/hostapd /etc/hostapd/hostapd-alarmmonitor.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
