body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
}

.table {
  color: #fff;
}

.table tr[class^="status-"] {
  color: #fff;
}

.status-0, .status-1, .status-2 {
  background-color: #214d21;
}

.status-3, .status-4, .status-5, .status-6, .status-7, .status-8, .status-9 {
  background-color: #4d2121;
}

#latest-incident {
  display: none;
}

#datetime {
  text-align: right;
}
